/vendor
/bin
/.gopath
/.vscode
/cmd/konnectd/debug
/test/tests.*
/golint.txt
/govet.txt
/dist
/examples
/identifier/node_modules
/Caddyfile
/3rdparty-LICENSES.md
/identifier-registration.yaml
/scopes.yaml
