# Example Caddyfile to use with https://caddyserver.com
#
# This assumes you have a cookie based login area running at
# 127.0.0.1:8999/provider/simple, konnectd running on 127.0.0.1:8777 and the
# example backend running on 127.0.0.1:8088.

0.0.0.0:8443 {
	tls self_signed

	# login area provider
	proxy /provider/simple 127.0.0.1:8999

	# konnect authorize endpoint below login area provider
	proxy /provider/simple/konnect/v1/authorize 127.0.0.1:8777 {
		without /provider/simple
		header_upstream X-Forwarded-Prefix /provider/simple
	}

	# konnect
	proxy /.well-known/openid-configuration 127.0.0.1:8777
	proxy /konnect/v1/token 127.0.0.1:8777
	proxy /konnect/v1/userinfo 127.0.0.1:8777
	proxy /konnect/v1/static 127.0.0.1:8777

	# konnect login area development via webpack-dev-server
	proxy /signin/v1/ 127.0.0.1:3000 {
		header_downstream Cache-Control "no-cache, max-age=0, public"
		header_downstream Referrer-Policy origin
		header_downstream Content-Security-Policy "object-src 'none'; script-src 'self'; base-uri 'none'; frame-ancestors 'none';"
	}
	proxy /sockjs-node/ 127.0.0.1:3000 {
		websocket
	}
	proxy /static 127.0.0.1:3000
	proxy /signin/v1/identifier/_/ 127.0.0.1:8777 {
		transparent
		#header_upstream X-Forwarded-User testuser
	}

	# konnect login area
	proxy /signin/ 127.0.0.1:8777 {
		transparent
	}

	# konnect cookieserver, start with python3 ./examples/cookieserver.py 8088
	proxy /cookieserver/simple-userinfo 127.0.0.1:8088
}
