[Unit]
Description=kopano-konnectd
Requires=network-online.target
After=network-online.target

[Service]
Slice=machine.slice
Environment=RKT_ARGS=--port=www:127.0.0.1:8777
Environment=KEY=/etc/kopano/konnectd-tokens-signing-key.pem
Environment=IMAGE=/srv/images/kopano-konnectd-latest-linux-amd64.aci
EnvironmentFile=/etc/default/kopano-konnectd
ExecStart=/usr/bin/rkt \
	--insecure-options=image \
	run $RKT_ARGS \
	--volume key,kind=host,source=${KEY} \
	--volume etc-ssl-certs,kind=host,source=/etc/ssl/certs \
	--volume run,kind=host,source=/run \
	${IMAGE} \
	--environment=KOPANO_SERVER_DEFAULT_URI="$KOPANO_SERVER_DEFAULT_URI" \
	--environment=KOPANO_SERVER_USERNAME="$KOPANO_SERVER_USERNAME" \
	--environment=KOPANO_SERVER_PASSWORD="$KOPANO_SERVER_PASSWORD" \
	-- \
	--iss=https://kopano.local \
	--sign-in-uri=${SIGN_IN_URL} \
	--secret="${ENCRYPTION_SECRET}" $ARGS \
	$IDENTITY_MANAGER
ExecStopPost=/usr/bin/rkt gc --mark-only
KillMode=mixed
Restart=always
